@charset "utf-8";
 
.reg_main {
    margin:auto;
    width:816px;
    background-image:url(../do_img/global/register/bg_stripes.jpg);
    background-repeat:repeat-y;
}

.reg_bg {
    background-image:url(../do_img/global/register/bg_glob.jpg);
    background-repeat: no-repeat;
}

.reg_foot {
    height:24px;
    background-image:url(../do_img/global/register/bg_foot.jpg);
    background-position:bottom;
    background-repeat:no-repeat;
}
/*
*/

.signup {
    font-family: Verdana, Arial, sans-serif;
    font-size:10px;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0px;
    height:600px;
    vertical-align: top;
}


.signup_left {
    width: 280px;
    padding:0 20px 0 0;
    margin:-50px 0 0 31px;
    text-align: left;
    height:215px;
}
* html .signup_left {margin:0px 0 0 0px;height:215px;}
*+html .signup_left {margin:0px 0 0 0px;height:215px;}

.signup_right {
    width: 435px;
    padding:0 20px 0 0;
    margin: -50px 0 0 22px;
    text-align: left;
    height:215px;
}
* html .signup_right {margin:0px 0 0 20px;height:215px;}
*+html .signup_right {margin:0px 0 0 20px;height:215px;}

.signup_input{
border-collapse: collapse;
}

.signup_input td{
padding: 0px;
}

.signup_link{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 9px;
color: #000000;
text-decoration: none
}

.signup_link:hover {
color: #000000;
text-decoration: underline;
}

.input_text {
    width: 144px;
    height: 17px;

    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #000000;

    border: 1px #000000 solid;
    background-color: #DEDEDE;
    margin-top: 1px;
    
}

.input_textLong {
    width: 294px;
    height: 17px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #000000;

    border: 1px #000000 solid;
    background-color: #DEDEDE;
    margin-top:1px;
}

.input_select {
    width: 146px;
    height: 20px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
/*    padding-top:4px;*/
    border: 1px #000000 solid;
/*    margin-top:1px;*/
    z-index: 5;
}


.input_selectDay {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #000000;
    padding: 0px;
    padding-top: 2px;
    padding-bottom: 1px;
    border: 1px #000000 solid;
    background-color: #DEDEDE;
    width: 40px;
    height:20px;
}

.input_selectMonth {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 9px;
color: #000000;
padding: 0px;
padding-top: 2px;
padding-bottom: 1px;
border: 1px #000000 solid;
background-color: #DEDEDE;
    width: 40px;
    height:20px;
}

.input_selectYear {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 9px;
    color: #000000;
    padding: 0px;
    padding-top: 2px;
    padding-bottom: 1px;
    border: 1px solid #666666;
    background-color: #DEDEDE;
    width: 56px;
    height:20px;
}

.error {
    background-color:#ffce58;
}

.login_username {
    width: 175px;
    height: 20px;
}

.login_password {
    width: 184px;
    height: 20px;
}

.login_submit {
    color:#FFFFFF;
    width: 184px; height:22px;
    background-image: url(../do_img/global/register/bg_butt.jpg);
    font-weight: bold;
    padding: 0px;
}

.login_instance {
    width:177px;
    height:22px;
}

.input_checkbox {
}

.input_radio{
}

.input_button{
    valign:bottom;
}

.signup_submit {
    background: url(../do_img/global/register/bg_butt_short.gif);
    width: 144px;
    height:22px;
    border: none;
    font-weight: bold;
    padding: 0px;
    color:#DEDEDE;
    cursor:pointer;
}
.signup_back {
    background:transparent;
    background: url(../do_img/global/register/bg_butt_short.gif);
    width: 144px;
    height:22px;
    border: none;
    font-weight: bold;
    padding: 0px;
    color:#DEDEDE;
    cursor:pointer;
}


.signup_errorLayer{
    position: absolute;
    width: 320px;
    height: 256px;
    left: 100px;
    top: 50px;
    background-image:url(../do_img/global/register/bg_info.jpg);
    padding: 5px;
    background-color:#D0CFBE;
    border:1px solid #000000;
    z-index: 1111;
}

.signup_errorHeader{
}

.signup_errorClose{
    float:right;
    background-image:URL(../do_img/global/register/kreuz.jpg);
    width:26px;
    height:22px;
}

.signup_errorTitle{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:16px;
    font-weight:bold;
    width:100%;
}

.singup_errorMessages{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    clear: both;
    text-align: left;
    color: #ffce58;
    font-weight:bold;
    padding: 10px;
}

.singup_errorMessages p {
    margin: 10px 0;
}

.singup_errorMessage{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size:10px;
}

.signup_errorSuggestion{
    color: #FFFFFF;
}

/* ------------------------------------------------------------------------ */
/* SUCCESS-Meldung -------------------------------------------------------- */
/* ------------------------------------------------------------------------ */
.signup_successLayer{
    position: absolute;
    width: 320px;
    height: 256px;
    left: 100px;
    top: 50px;
    background-image:url(../do_img/global/register/bg_info.jpg);
    padding: 5px;
    background-color:#D0CFBE;
    border:1px solid #000000;
    z-index: 1111;
}

.signup_successTitle{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:14px;
    font-weight:bold;
    width:100%;
}

.singup_successMessages{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size:12px;
    clear: both;
    text-align: left;
    color: #FFFFFF;
    font-weight:bold;
    padding: 10px;
}

.signup_successClose{
    float:right;
    background-image:URL(../do_img/global/register/kreuz.jpg);
    width:26px;
    height:22px;
}
/* ------------------------------------------------------------------------ */
/* SUCCESS-Meldung -------------------------------------------------------- */
/* ------------------------------------------------------------------------ */

.signup_label{
    font-weight: bold;
}

.label_username{
    padding:10px 0 0 0px;
}

.label_description{
    vertical-align: top;
    font-weight: normal;
    padding:8px 0 10px 0;
/*height: 100%;*/
}

.label_password {
    padding:10px 0 0 0px;
}

.label_passwordRepeat{
}

.label_instances{
}

.label_email{
}

.label_birthday{
}

.label_sex{
}

.label_country{
}

.label_province{
}

.label_checkbox{
}
.label_checkbox a{ color:#FFFFFF;}
.label_checkbox a:hover{ color:#FFFFFF;}

.align_checkbox{
vertical-align: top;
}

.align_buttonRegister{
    vertical-align: bottom;
    padding-right:20px;
/*height: 100%;*/
}

.align_buttonLogin{
}